$size:50px;
$fonstSize:5px;

article {
    display: flex;
    div {
        width: $size*4;
        height: $size*4;
    }
}
@each $item in 1,2,3,4{
    .item#{$item} {
        background-image: url('./img/#{$item}.jpg');
        background-size:$size*3 $size*3;
        margin: 15px;
        background-repeat: no-repeat;
    }
}